
@{
     ViewBag.Title = "砍价";
}


<style>
 .content {
 	  height:200px;
 	  margin-top: 70px;
 	  background-color: #ECF5FF;
 	  border-radius: 10px;
 	  position: relative;
 	  padding: 5px;
 }
 
 .button{
 	border-radius: 10px;
 	background-color: yellow;
 	color: black;
 	font-size: 15px;
 	text-align:center;
 	line-height: 40px;
 	margin-left: 100px;
 	margin-right: 100px;
 }
 
 .logList{
 	background-color: #66A8CC;
 	margin-top: 50px;
 	position: relative;
 	padding: 5px; 	
 	margin-left: 20px; 	  
 	margin-right: 20px;
 	border:1px solid white;
 	height: 210px;
 	overflow:auto;
 }
 
 .div-inline { 
	display:inline;
	float: left;
	line-height: 35px;
	color: white;
	font-size: 15px;
} 
 
ul,li{ list-style:none}
</style>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta charset="UTF-8" />
    <title>砍价</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
  	
    <form class="am-form" style="background-image: url(/Images/icon/bargainImage.jpg);background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;height: 900px;">
        <fieldset style="height: 100%;">
            <div id="bargain" model="data" style="height: 100%;text-align: center;">
            	<div class="content">            		
               		<h4 v-if="isOwner" style="color: red;">邀请你的好友帮忙砍一刀</h4>
               		<h4 v-if="!isOwner" style="color: red;">您的好友邀请你帮他砍一刀</h4>
               		<h5 style="text-indent:20px;">我在万韬财税发现一个课程,帮我砍到最低价吧</h5>
               		<div v-on:click="GoClassDetail(data)" style="height: 55%;background-color: white;border-radius: 10px;position: relative;">
               			<div class="am-u-sm-4 am-list-thumb" style="height: 100%;width: 20%;padding-right: 0px;">
				        	<img style="height: 100%;width: 170%;" :src="data.ClassImages"/>
				        </div>
						<table class=" am-u-sm-8 am-list-main" style="height: 100%;position:relative;">
							<tr style="height: 80%;">
								<td colspan="2" style="height: 100%;">
									{{data.ClassName}}								
								</td>								
							</tr>
							<tr>
								<td>
									<span style="color: red;">¥{{data.ClassPrice}}</span>
								</td>
								<td>
									{{data.HotCount}} 人已购买
								</td>
							</tr>
						</table>
               		</div>               		
               	</div> 
	            <div >
	              	<h4 style="color: white;">已砍 <span style="color: yellow;font-size: 30px;">{{cutPrice}}</span> 元，还差 <span style="color: yellow;font-size: 30px;">{{diffPrice}}</span> 元</h4>
	            </div>
	            <div >
	              	<h5 style="color: white;">还剩
	              		<span style="color: red;" id="_d">00</span>  
			         	<span style="color: red;" id="_h">00</span>  
			         	<span style="color: red;" id="_m">00</span>  	
			        	<span style="color: red;" id="_s">00</span> 
			        	结束，快来砍价！</h5>
	            </div>
	            <div style="text-align: center;">
	            	<div v-if="isOwner" v-on:click="GoShare()" class="button">邀请好友砍价</div>
		            <div v-if="!isOwner&&!isBargain" v-on:click="GoBargain()" class="button">帮他砍一刀</div>
		            <div v-if="!isOwner&&isBargain" v-on:click="AddBargain()" class="button">我也要发起砍价</div>
	            </div>
	            
	            <div class="logList">
	            	<ul style="margin-top: 5px;" v-for="item in logList">
	            		<li>            			
	            			<div class="div-inline" style="width: 40%;white-space: nowrap;"><img style="height: 25px;margin-left: -20px;" :src="item.Headimgurl">&nbsp;&nbsp;&nbsp;{{item.Nickname}}</div>
	            			<div v-if="isOwner" class="div-inline" style="width: 60%;">帮你砍了  {{item.BargainPrice}} 元</div>	
	            			<div v-if="!isOwner" class="div-inline" style="width: 60%;">帮他砍了  {{item.BargainPrice}} 元</div>
	            		</li>
	            	</ul>
	            </div>
            </div>
        </fieldset>
    </form>
   
</div>
</body>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
	
	var openid = '@ViewBag.Openid';
	var bargainid='@ViewBag.Bargainid';
	
	var bargainVue=new Vue({
		el:"#bargain",
		data:{
			data:{},
			logList:[],
			ownerOpenid:"",
			isOwner:false,
			endTime:"",
			isBargain:false,
			classId:"",
			classPrice:"",
			cutPrice:0,
			diffPrice:0
		},
		created: function () {
            this.Query();
            this.Share();
         },
         methods:{
         	Query:function(){
         		var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxOrder/GetBargainClass",
                    data:{
                    	bargainId:bargainid
                    },
                    success: function (result) {
                    	if(result.ClassId==null || bargainid==null)
                    	{
                    		window.location.href = "../WxHome/Index";
                    	}
                    	else
                    	{
                    		_self.data = result;
	                        _self.ownerOpenid=result.ownerOpenid;
	                        _self.endTime=_self.ChangeDateFormat(result.EndTime);
	                        _self.classId=result.ClassId;
	                        _self.classPrice=result.ClassPrice;
	                        _self.cutPrice=toDecimal2((result.PrePrice*100-result.NowPrice*100)*0.01);
	                        _self.diffPrice=toDecimal2((result.NowPrice*100-result.FloorPrice*100)*0.01);
//	                        alert(_self.cutPrice);
//	                        alert(_self.diffPrice);
	                        if(result.ownerOpenid==openid)
	                        {
	                        	_self.isOwner=true;
	                        }
	                        countTime();
	                        _self.GetLog();
	                  	}
                        
                    }
                });
                
         	},
         	GetLog:function()
         	{
         		var _self = this;
         		$.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxOrder/GetBargainLogs",
                    data:{
                    	bargainId:bargainid
                    },
                    success: function (result) {
                        _self.logList = result;
                        
                        for (x in _self.logList)
						{
						  if(_self.logList[x].OpenId==openid)
						  {
						  	_self.isBargain=true;
						  }
						}                        
                        
                    }
                });
         	},
         	GoShare:function(){
         		var _self = this;
         		_self.$message({
                                type: 'success',
                                message: '点击右上角，请好友帮忙砍价吧!'
                           });
         	},
         	Share:function(){
         		var _self = this;
         		
         		wx.config({  
		            debug: false,  
		            appId: '@ViewBag.AppId',  
		            timestamp: '@ViewBag.TimeStamp',  
		            nonceStr: '@ViewBag.NonceStr',  
		            signature: '@ViewBag.Signature',  
		            jsApiList: [  
		                'checkJsApi',  
		                'onMenuShareTimeline',  
		                'onMenuShareAppMessage'  
		            ]  
		        });  
		        wx.checkJsApi({
			        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'], // 需要检测的JS接口列表
			        success: function(res) {
			            // 以键值对的形式返回，可用的api值true，不可用为false
			            // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
			        }
			    });
		        wx.ready(function () { 
//		                <%--分享给朋友接口--%>  
		            wx.onMenuShareTimeline({
			           	title: _self.data.ClassName,  
		                desc: _self.data.ClassAbstract,  
		                link: '@ViewBag.Link',  
		                imgUrl: _self.data.ClassImages,  
		                success: function (res) {  
		                    //alert('已分享');  
		                    
		                },  
		                cancel: function (res) { 
		                }  
			        });
			
			        //分享给朋友
			        wx.onMenuShareAppMessage({
			            title: _self.data.ClassName,  
		                desc: _self.data.ClassAbstract,  
		                link: '@ViewBag.Link',  
		                imgUrl: _self.data.ClassImages,  
		                success: function (res) {  
		                    //alert('已分享');  
		                    
		                },  
		                cancel: function (res) { 
		                }  
			        });
		        });  
//		          <%--处理失败验证--%>  
		        wx.error(function (res) {  
		            alert("error: " + res.errMsg);  
		        }); 
         	},
         	ChangeDateFormat:function(timeSpan) {
				    var timeSpan = timeSpan.replace('Date','').replace('(','').replace(')','').replace(/\//g,'');
				    var d = new Date(parseInt(timeSpan));
				    return d;
			},
			GoBargain:function(){
				var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxOrder/BargainClass",
                    data:{
                    	ownOpenid:_self.ownerOpenid,
                    	openid:openid,
                    	classId:_self.classId
                    },
                    success: function (result) {
                    	_self.Query();
                    }
                });
			},
			AddBargain:function(){
				var _self = this;
				$.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxOrder/AddBargain?pGuid=" + guid(),
                    data: {
                        openid:openid,
                        classid:_self.classId,
                        price:_self.classPrice
                    },
                    success: function (result) { 
                        //_self.bargainId = result; 
                        //window.location.href = "../WxOrder/Bargain?bargainid="+_self.bargainId;
                        window.location.href=result;
                    },
                    error: function (json) {
                        _self.$message.error('查询失败');
                    }
                });  
			},
			GoClassDetail:function(item){
				var type="1";
				var id=item.ClassId;
				$.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/WxBase/ClickLog?pGuid=" + guid(),
                    data: {
                    	obType:type,
						id:id,
						openid:openid
                    },
                    success: function (result) {
                    },
                    error: function (json) {
                        
                    }
                });
				window.location.href = "/WxClass/ClassDetail?openid=" + openid+"&&classId="+id;
			},
         }
	});
	
	 function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }
	 
	 function toDecimal2(x) { 
	   var f = parseFloat(x); 
	   if (isNaN(f)) { 
	    return false; 
	   } 
	   var f = Math.round(x*100)/100; 
	   var s = f.toString(); 
	   var rs = s.indexOf('.'); 
	   if (rs < 0) { 
	    rs = s.length; 
	    s += '.'; 
	   } 
	   while (s.length <= rs + 2) { 
	    s += '0'; 
	   } 
	   return s; 
	  } 
	 
	 function countTime() {  
              //获取当前时间  
              var date = new Date();  
             var now = date.getTime();  
             //设置截止时间  
             var str=bargainVue.endTime;
             var endDate = new Date(str); 
             var end = endDate.getTime();               
             //时间差  
             var leftTime = end-now; 
             //定义变量 d,h,m,s保存倒计时的时间  
             var d,h,m,s;  
             if (leftTime>=0) {  
                 d = Math.floor(leftTime/1000/60/60/24);  
                 h = Math.floor(leftTime/1000/60/60%24);  
                 m = Math.floor(leftTime/1000/60%60);  
                 s = Math.floor(leftTime/1000%60);                     
             }  
             //将倒计时赋值到div中  
             document.getElementById("_d").innerHTML = d+"天";  
             document.getElementById("_h").innerHTML = h+"时";  
             document.getElementById("_m").innerHTML = m+"分";  
             document.getElementById("_s").innerHTML = s+"秒";  
             //递归每秒调用countTime方法，显示动态时间效果  
             setTimeout(countTime,1000);  
   
         } 
         

</script>
