@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>万韬财税</title>
    <script type="text/javascript">

        function onBridgeReady() {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId": "@ViewBag.AppId",     //公众号名称，由商户传入
                    "timeStamp": "@ViewBag.TimeStamp",         //时间戳，自1970年以来的秒数
                    "nonceStr": "@ViewBag.NonceStr", //随机串
                    "package": "@ViewBag.Package",
                    "signType": "MD5",         //微信签名方式：
                    "paySign": "@ViewBag.Paysign" //微信签名
                },
                function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        redirect();
                    }// 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                    //writeObj(res);
                }
            );
        }
        function redirect() {
            setTimeout(function () {
                window.location.href = "rechargesucc?strRechargeNo=@ViewBag.OrderId";
            }, 1000);

        }
        function writeObj(obj) {
            var description = "";
            for (var i in obj) {
                var property = obj[i];
                description += i + " = " + property + "\n";
            }
            alert(description);
        }
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    </script>

</head>
<body>
</body>
</html>


