@using BusinessEntity.Common;
@using AccountTrain.Web.Common;

@{
    /////设置菜单进入Session
    IList<SystemMenuInfo> SystemMenuInfo = null;
    SystemMenuInfo = Html.GetSystemMenuList();
}

@{
    var user = CacheManager.Instance.CurrentUser;
    string LoginName = user == null ? "" : user.Name;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理系统</title>
    <link href='@Url.Content("~/Content/Site.css")' rel="stylesheet" />
    @Styles.Render("~/Content/elementui")
    @Styles.Render("~/Content/nprogress")
    @Scripts.Render("~/bundles/nprogress")
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(function () {
            NProgress.configure({ ease: 'ease', speed: 500, showSpinner: false, });
            NProgress.start();
        });
    </script>
    <style>
        .el-submenu__title {
            text-align: left !important;
        }
    </style>
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/elementui")
</head>
<body>
    @RenderBody()
</body>
</html>
