<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>急诊质控运维中心后台管理系统</title>
    <link href='@Url.Content("~/Content/Site.css")' rel="stylesheet" />
    @Styles.Render("~/Content/elementui")
    @Styles.Render("~/Content/nprogress")
    @Scripts.Render("~/bundles/nprogress")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/elementui")
    <script>
    </script>
    <style>
        .el-submenu__title {
            text-align: left !important;
        }
    </style>
</head>
<body>
    @{
        AccountTrain.Common.Session.UserAuthSession user = AccountTrain.Web.Common.CacheManager.Instance.CurrentUser;
        string LoginName = user == null ? "" : user.Name;
        decimal isAdmin = user == null ? 0 : user.IsAdmin.GetValueOrDefault();
        decimal isAdminAudit = user == null ? 0 : user.IsAudit.GetValueOrDefault();
        if (isAdmin == 1)
        {
            isAdminAudit = 1;
        }

        string isAdminB = (isAdmin == 1).ToString().ToLower();
        string isAdminAuditB = (isAdminAudit == 1).ToString().ToLower();
    }
    <div id="home">
        <el-row class="tac">
            <el-col span="3" style="background: #007ebc;"></el-col>
            <el-col span="18" >
                <div>
                    <div style="width:50%;float:left">
                        <h3 class="logo_block">急诊质控运维中心V1.0</h3>
                    </div>
                    <div class="nav_add">
                        <ul>
                            <li>
                                <i class="ic_admin"></i>
                                <a id="changePassword">@LoginName</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </el-col>
            <el-col span="3" style="background: #007ebc;"></el-col>
        </el-row>
    </div>
    <div>
        @RenderBody()
    </div>

    <script>
        var imainHeight = $(document).height() - 68;
        $(function () {
            
            var menuVue = new Vue({
                el: "#home",
                data: {
                    isCollapse: true,
                    contentSrc: "",
                    contentWidth: "100%",
                    contentHeight: imainHeight,
                    activeIndex: "1"
                }
            });
        })
    </script>
</body>
</html>
