
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using BusinessEntity.Common;
@using AccountTrain.Web.Common;

@{
    /////设置菜单进入Session
    IList<SystemMenuInfo> SystemMenuInfo = null;
    SystemMenuInfo = Html.GetSystemMenuList();
}

@{
    var user = CacheManager.Instance.CurrentUser;
    string LoginName = user == null ? "" : user.Name;
}

<div>
    <div>
        <div style="background: #007ebc;height:60px;">
            <div>
                <div >
                    <h3 class="logo_block" style="line-height: 60px;height: 0px;">后台管理系统</h3>
                </div>
                <div class="nav_add">
                    <ul>
                    	<li> 
                    		<i class="ic_admin"></i>
                    		<a style="cursor:default;" class="a-color">@LoginName</a>
                    	</li>
                        <li>
                            <i class="ic_logout"></i>
                            <a href="javascript:document.getElementById('logForm').submit()">退出</a>
                            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logForm" }))
                            {
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="home">
            <div style="width:10%;float: left;">
                <div id="menu" >
                    <el-row class="tac">
                        <el-col span="24">
                            <el-menu default-active="1" v-bind:style="{height:contentHeight+ 'px'}" >
                                @for (int i = 0; i < SystemMenuInfo.Count(); i++)
                                {
                                    <el-submenu index="@i">
                                        <template slot="title">
                                            <span style="font-size: 15px;">@SystemMenuInfo[i].MenuName</span>
                                        </template>
                                        <el-menu-item-group>
                                            @foreach (var submenu in SystemMenuInfo[i].SubMenus)
                                            {
                                                <el-menu-item style="min-width: 0px;" index="@submenu.MenuId" v-on:click="redirectMenu('@submenu.Url')">
                                                    <span slot="title"  style="font-size: 13px;">
                                                    	@submenu.MenuName
                                                    </span>
                                                </el-menu-item>
                                            }   
                                        </el-menu-item-group>
                                    </el-submenu>        
                                }
                                                       
                            </el-menu>
                        </el-col>
                    </el-row>
                </div>
            </div>
            <div id="content" style="width:90%;float: left;">
            	<iframe id="ifContent" frameborder="0" :src="contentUrl" style="width: 100%;min-height: 500px;">
            		
            	</iframe>  	      	
	    	</div>
    	</div>


    <script>
    	var menuVue;
    	var menuVue = new Vue({
                el: "#home",
                data: {
                    isCollapse: true,
                    contentSrc: "",
                    contentWidth: "100%",
                    contentHeight: "",
                    activeIndex: "1",
                    contentUrl:""
                },
                methods:{
                	redirectMenu:function(url){
                		menuVue.contentUrl=url;
                	}
                }
      	});  
        //var imainHeight = $(document).height() - 70;
        
        
        function reinitIframe(){
			var iframe = document.getElementById("ifContent");
			try{
			var bHeight = iframe.contentWindow.document.body.scrollHeight;
			var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
			var height = Math.max(bHeight, dHeight);
			iframe.height = height;		
			menuVue.contentHeight=height;
			}catch (ex){}
		}
		window.setInterval("reinitIframe()", 200);
		
		$(function () {
        NProgress.done();})
    </script>

</div>
