
@{
     ViewBag.Title = "职位详情";
}

@model BusinessEntitys.JobEntity
<style>
	.table-list{
		margin-bottom: 10px;width: 100%; position: relative;float: left;
            		background-color: #fafafa;
	}
	
	.td-first-left{
		font-size: 16px;float: left;margin-left: 15px;padding-top: 5px;
	}
	.td-left{
		color: #999999;float: left;margin-left: 15px;padding-top: 5px
	}
</style>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>职位详情</title>
</head>
<body>
  	<header data-am-widget="header" class="am-header am-header-default" style="background-color: white;">
	  <div class="am-header-left am-header-nav">
		  <a href="javascript:window.history.back(); " class="">
		  	<img class="am-header-icon-custom" src="~/Images/icon/返回.png" alt=""/>
		  </a>
	  </div>
	  <h3 class="am-header-title" style="color: black;padding-top: 15px;font-size: 18px;">
          职位详情
      </h3>
	</header>
  	<div id="jobDetail">
        <div>
            <table class="table-list">
            	
        		<tr>
                    <td class="td-first-left"><b>@Model.JobTitle</b></td>
                    <td class="td-first-right">@Model.JobSalary</td>
                </tr>
                <tr>	
                   <td class="td-left">@Model.JobYear|@Model.JobEducation</td>
                   <td class="td-right">@Model.CreateTime.ToString("yyyy-MM-dd")</td>
                </tr>
                <tr>
					<td class="td-left">@Model.JobCompany</td>
                    <td></td>
                </tr>
        	
               
            </table>
            <table class="table-list">
            	<tr>
            		<td class="td-first-left"><b>职位描述</b></td>
            	</tr>
            	<tr>
            		<td class="td-left">@Model.JobDesc</td>
            	</tr>
            		
            </table>
            <table class="table-list">
            	<td class="td-first-left"><b>任职要求</b></td>        		
        		<tr>
        			<td class="td-left">@Model.JobRequirements</td>
        		</tr>
            </table>
            <table class="table-list">
            	<td class="td-first-left"><b>联系方式</b></td>            	
            	<tr>
            		<td class="td-left">@Model.JobEmail</td>
            	</tr>
            </table>
        </div>
  	</div>
  	
</body>


<script>
	var openid = '@ViewBag.Openid';
	var jobDetailVue=new Vue({
		el:"#jobDetail",
		data:{
			jobList:[],
			txtTitle:""
		},
		created: function () {
         },
         methods:{
         }
	});
	
	 function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }
	
</script>
